.apt-home-page {
  .apt-home-image-1 {
    aspect-ratio: 16/9 !important;
  }
}
.bg-org{
  // background: #E28535;
  background-color:  #2C5F9E;
}
.text-white{
  color: white;
}
.text-orange{
  color:#2C5F9E;
}
