.resent-otp {
  .resend-text {
    color: #e9872f;
  }
  .active-link {
    font-weight: 600;
    cursor: pointer;
  }
  .in-active-link {
    font-weight: 600;
    pointer-events: none;
    cursor: default;
  }
}
